<!DOCTYPE html>
<html>
  <head>
    <title>SurveyApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div id= "flash_message", class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>
    <div class="center-container">
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
